@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-color:#F6F3EE;
  min-height: 100vh;
}

.header-bar {
  background-color:#FFFDFA;
}

.login-button {
  color:#34A853;
  border-color:#34A853;
  transition: 0.3s;
}

.login-button:hover {
  color:white;
  border-color:#34A853;
  background-color:#34A853;
  ;
}

.header-image {
  background-color: #E7DFD3;
}

.man-image {
  width: 346px;
}

.item-box {
  background: white;
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 4px 4px;
  min-height: 280px;
  cursor: pointer;
  transition: 0.3s;
}

.item-box:hover {
  background: #E7DFD3;
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 4px 4px;
  min-height: 280px;
  cursor: pointer;
}

.item-image {
  width: 100%;
  height: 155px;
  object-fit: cover;
  border-radius: 16px;
}

.job-detail-box {
  background: white;
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 4px 4px;
}

.job-detail-image {
  width: 100%;
  max-height: 372px;
  object-fit: cover;
  border-radius: 16px;
}

div {
  white-space: pre-wrap;
}

.back-button {
  color: white;
  border-color:#262626;
  background-color: #262626;
  width: fit-content;
  margin-left: auto;
  transition: 0.3s;
}

.back-button:hover {
  color: white;
  border-color:#656565;
  background-color: #656565;
  width: fit-content;
  margin-left: auto;
}

.login-body {
  background-color: rgba(7,0,0,0.5);
  z-index: 10;
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.login-box {
  background-color: white;
  width: 503px;
  height: 338px;
  z-index: 20;
  margin: auto;
  margin-top: 144px;
  border-radius: 14px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 38px;
  border: 1px solid #E0E2E9;
  padding: 6px;
}

.input-box input {
  border:none;
  background-color:#fff;
  display:block;
  width: 100%;
  box-sizing: border-box;
  text-indent: 24px;
}

.input-box input:focus {
  border:none;
  background-color:#fff;
  display:block;
  width: 100%;
  box-sizing: border-box;
  text-indent: 24px;
  outline: none;
}

.input-box svg { 
  position: absolute;
  top: 12px;
}

.submit-button {
  width: 100%;
  height: 38px;
  background-color: #34A853;
  color: white;
}
