@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-color:#F6F3EE;
}

.header-bar {
  background-color:#FFFDFA;
}

.login-button {
  color:#34A853;
  border-color:#34A853;
  ;
}

.header-image {
  background-color: #E7DFD3;
}

.man-image {
  width: 346px;
}
